{% extends 'mailing/base.html' %}

{% block content %}
<title>Статистика проведенных рассылок</title>
<body>
    <div class="container">
        <h1>Отчет проведенных рассылок</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Рассылка</th>
                    <th>Дата и время попытки</th>
                    <th>Статус попытки</th>
                    <th>Ответ сервера</th>
                </tr>
            </thead>
            <tbody>
                {% for object in object_list %}
                    <tr>
                        <td>{{ object.log_mailing }}</td>
                        <td>{{ object.created_time }}</td>
                        <td>{{ object.log_status }}</td>
                        <td>{{ object.response }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">Нет данных для отображения</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
